
#a1{
    width: 900px;
}

.circle{
    border: 5px solid #EA4E4E;
	border-radius: 50%;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	opacity: 100;

	-webkit-box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	box-shadow: 0 0 1px 0px rgb( 255, 255, 255);
	width: 250px;
	height: 250px;
	z-index: 86;

	-webkit-transition: background-color .5s ease-in-out;
	-moz-transition: background-color .5s ease-in-out;
	-o-transition: background-color .5s ease-in-out;
	-ms-transition: background-color .5s ease-in-out;
	transition: background-color .5s ease-in-out;
    margin-top: 100px;
    margin-left: 180px;
    float: left;
}

.header{
    height: 150px;
    width: 800px;
    background-color: #EA4E4E;
    margin-top: 155px;
    margin-right: 90px;;
    float: right;
}

.name{
    text-align: right;
    margin-right: 15px;
}

.info{
    text-align: right;
    margin-right: 15px;
}

#insideCircle{
    font-size: 76px;
    color: #EA4E4E;
    text-align: center;
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  .container {
    width: 100%;
    height: 100%;
  }
  
  .leftpane {
      width: 22%;
      height: 80%;
      float: left;
      border-collapse: collapse;
  }
  
 
  
  .rightpane {
    width: 68%;
    height: 80%;
    position: relative;
    float: right;
    border-collapse: collapse;
  }
  
  .toppane {
    width: 100%;
    height: 300px;
    border-collapse: collapse;
  }

  #image{
      height: 320px;
      width: 1350px;
  }
  #horizontal{
      color: #EA4E4E;
      background-color: #EA4E4E;
      height: 12px;
  }